@page
@model FreyaApi.Views.IndexModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Gracias por comprar</title>
    <style>
        body {
            background-color: #C0D4EC;
            text-align: center;
            font-family: sans-serif;
        }

        img {
            width: 50%;
            margin-bottom: 20px;
        }

        p {
            font-size: 1.5em;
            margin-bottom: 10px;
        }

        small {
            font-size: 0.8em;
            color: #333;
        }
    </style>
</head>
<body>
    <img src="https://images.unsplash.com/photo-1528218635780-5952720c9729?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80" alt="Thank you">
    <p>Gracias por comprar</p>
    <small>Ya puedes volver a la app</small>
</body>
</html>